/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-jul-2015, 13:26:55
    Author     : jebus
*/

body{
    width:100%;
    overflow-x: hidden;
    overflow-y: hidden;
}


#mundo{
    background-image:url("#{resource['images:nebula-xneg.png']}");
    width:26%;
    height:114px;
    float:right;
    margin-right:2%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    
}

.Titulos
{
    font-size: 40px;
    
}

.breadcumb{
    background-image:url("#{resource['images:nebula-xneg.png']}");
    width:100%; 
    height:40px;
    position:relative;
    bottom:120px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
   
}

.menu-bread{
    font-weight: normal !important; 
    color:#9d9d9d !important; 
    text-shadow: 0px 0px 0px !important;
    
}
#render{
    width:67%;
    margin-left: 2%;
    height:50px;
    position:relative;
    bottom:18px;
    
    
    
    
    }
canvas{
	background-image:url("#{resource['images:nebula-xneg.png']}");
	/*margin-top: 15% !important;*/
        width: 100% !important;
        height: 480px !important; 
        position:relative;
        bottom:122px;
	border-radius: 0px 0px 10px 10px;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
        z-index:auto;
    }
       
       
       
       
#barraArbol
{
    background-color: black;
    width:26%;
    position:relative;
    bottom:80px;
    height:462px;
    float:right;
    margin-right:2%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
    
    
    
}

.arbol{
    background:black; 
    border:none;
    border-radius:10px;
    overflow:visible;
    
     
}

.tituloDepa{
    color:whitesmoke; 
    position:relative; 
    bottom:600px;
}

.menuboton{
    
    background:none; 
    border:none; 
    width:90px; 
    text-shadow:none; 
    font-weight: normal; 
    color:#9d9d9d;
    z-index:1;
}



@keyframes mapfront_spin {
  0% {
    background-position: 400px 0%;
  }
  
  100% {
    background-position: 0 0%;
  }
}

@keyframes mapback_spin {
  0% {
    background-position: 0 0%;
  }
  
  100% {
    background-position: 400px 0%;
  }
}

@-webkit-keyframes mapfront_spin {
  0% {
    background-position: 400px 0%;
  }
  
  100% {
    background-position: 0 0%;
  }
}

@-webkit-keyframes mapback_spin {
  0% {
    background-position: 0 0%;
  }
  
  100% {
    background-position: 400px 0%;
  }
  
}
.frontal {
  width: 100px;
  height:100px;
  background: url(http://1.bp.blogspot.com/-R7NM2HBq--Q/UesCwsosv3I/AAAAAAAAKrs/ZZm2CMlqVWs/s1600/1.png);
  background-size: 100px 100px;
  z-index: 5;
  position: relative;
  top:-5px;
  left: 95px;
  margin-top: 10px;
  
}
.back {
  width: 100px;
  height: 100px;
  background: url(http://1.bp.blogspot.com/-Hke9nBhL3Gc/UesDBMdQypI/AAAAAAAAKr0/4d9J8v5i58o/s1600/2.png);
  background-size: 100px 100px;
  position: relative;
  top: -254px;
  left: 95px;
  z-index: 2;
  margin-top: 10px;
}
.mapfront {
  border-radius: 300px;
  width: 83px;
  height: 59px;
  position: relative;
  top: -96px;
  left: 102px;
  z-index: 4;
  margin-top: 10px;
}

.mapback {
  border-radius: 300px;
  width: 60px;
  height: 60px;
  position: relative;
  top: -171px;
  left: 107px;
  z-index: 4;
  margin-top: 10px;
}
.mapfront {
  background: url(http://1.bp.blogspot.com/-M5AZ_16w8b4/UesDQ6r3miI/AAAAAAAAKr8/Sj0Tu25SgWA/s1600/3.png) repeat-x;
  -webkit-animation: mapfront_spin 15s linear infinite;
  animation: mapfront_spin 35s linear infinite;
  background-size: 186px 67px;
}
.mapback {
  background: url(http://2.bp.blogspot.com/-PEUhx5zxLcg/UesDeRIwkmI/AAAAAAAAKsE/XvusGF7_Omc/s1600/4.png) repeat-x;
  
  -webkit-animation: mapback_spin 15s linear infinite;
  animation: mapback_spin 35s linear infinite;
  background-size: 100px 100px;
}      
       
        

         

        






